<header>
        <h1>Eat da Burgerr!</h1>
        <br>
        <img class="center" src="\assets\img\burger.jpg" rel="hamburger">
    </header>

<main class="main">
<container class="madeBurgs">
<h2>Burgers to be devoured</h2>

<ul>
    {{#each burgers}}
        {{#unless devoured}}
            <button class="eatMe" data-id="{{id}}" type="button">
            {{ burger_name }}  </button>
        {{/unless}}
    {{/each}}
</ul>
</container>


<container class="eatenBurgs"></container>
<h2>Burgers that have been devoured</h2>

<ul>
    {{#each burgers}}
        {{#if devoured}}
             {{ burger_name }} ||
        {{/if}}
    {{/each}}
</ul>
</container>

<container class="addBurgs"></container>
<h2>Add a Burger</h2>
<form class="create-form">
  <div>
    <label for="burgerAdd">Burger Type</label>
    <input type="text" id="burger" name="burger_name">
  </div>

  <button type="submit" class="submit">Add Burger</button>
</form>
</container>
</