<h1>Eat da Burgerr!!</h1>

<aside>
    <h2>Burgs to Devour!</h2>
    <ul>
        {{#each burger}}
            {{#unless devoured}}
                <button class="eatBurg" data-id='{{id}}' type="button"> {{ burger_name }} </button>
            {{/unless}}
        {{/each}}
    </ul>
</aside>
<main>
      <div class="form-group">
    <label for="quo">What Kinda Burger You Cravin?</label>
    <textarea id="burg" name="burgs"></textarea>
  </div>

  <button type="submit">Make this Burger!</button>
</form>
</main>
<aside>
    <h2>Devoured Burgs</h2>
    <ul>
        {{#each burger}}
            {{#if devoured}}
                {{ burger_name}}
            {{/if}}
        {{/each}}           
    </ul>


</aside>